NEXT_PUBLIC_API_URL=https://api.hausinternational.my
NEXT_PUBLIC_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_AUTH_API_KEY=
NEXT_PUBLIC_API_KEY=
PORT=3301
APP_COUNTRY=MY
APP_LANGUAGE=en_MS
TIMEZONE=Asia/Kuala_Lumpur

